/* SIGN OUT */
.black-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;

    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);

    transition: 0.4s ease;
}

.black-container .confirm-dialog-box {
    width: 40%;
    /* min-width: 250px; */
    max-width: 380px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px #000;
    text-align: center;
}

.black-container .confirm-dialog-box h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 5px;
}

.black-container .confirm-dialog-box p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}

.black-container .confirm-dialog-box .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-container .confirm-dialog-box .buttons-container button {
    width: 49%;
    color: #fff;
    max-width: 130px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;

    transition: 0.2s ease;
}

.black-container .confirm-dialog-box .buttons-container .btn-negative {
    background-color: #1c1c1e;
    margin-right: 10px;
}

.black-container .confirm-dialog-box .buttons-container .btn-positive {
    background-color: #8f5322;
}

.black-container .confirm-dialog-box .buttons-container .btn-negative:hover {
    background-color: #323234;
}

.black-container .confirm-dialog-box .buttons-container .btn-positive:hover {
    background-color: #a97347;
}

@media screen and (max-width: 790px) {
    .black-container .confirm-dialog-box {
        width: 60%;
    }

    .black-container .confirm-dialog-box .buttons-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .black-container .confirm-dialog-box .buttons-container button {
        display: block;
        width: 80%;
        max-width: none;
    }
    
    .black-container .confirm-dialog-box .buttons-container .btn-negative {
        margin-right: 0;
        margin-bottom: 8px;
    }

}

@media screen and (max-width: 400px) {
    .black-container .confirm-dialog-box {
        width: 80%;
    }
}