:root {
    --brown: #B88855;
    --light-brown: #F6D9A8;
    --dark-brown: #82410D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input,
button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.last-message-container {
    height: calc(100vh - 75px);
    overflow-y: auto;
}

.inbox .container {
    /* display: flex;

    align-items: center; */
    background: #FFFFFF;
    border: 1px solid #ddd;
    padding: 1.2rem;
    margin-left: 80px;
    width: calc(100% - 80px);
    padding-left: 0;
    cursor: pointer;

    transition: 0.4s ease;
}

.inbox .container .detail-message {
    display: flex;
    align-items: center;
}

.inbox .container:hover {
    background-color: var(--light-brown);
}

.inbox .container .delete-icon {
    display: none;
    margin-top: 8px;

    transition: 0.4s ease;
}

.inbox .container:hover .delete-icon {
    display: block;
    text-align: center;
}

.inbox .container .delete-icon form {
    display: flex;
    justify-content: center;
}

.inbox .container .delete-icon button {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 500;
    background-color: #871313;
    padding: 2px 12px;
    border-radius: 5px;

    transition: all 0.4s ease-in-out;
}

.inbox .container .delete-icon button:hover {
    background-color: #b02424;
}

.container .inbox-circle-container {
    background-color: #fff;
    width: 55px;
    height: 55px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--dark-brown);
}

.detail-message .friend-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-message .content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 70px);
}

.detail-message .name {
    max-width: 280px;
    color: #82410D;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-message .message {
    max-width: 600px;
    font-weight: 500;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-message .date-time {
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.empty-message {
    height: calc(100vh - 75px);
    width: calc(100% - 80px);
    /* background-color: red; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.empty-message p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(128, 102, 74, 0.35);
    border-radius: 10px;
    padding: 15px 20px;
}

@media screen and (max-width: 391px) {
    .inbox .container {
        width: 100%;
        margin-left: 0;
        padding: 1.2rem 5px;
    }

    .last-message-container {
        height: calc(100vh - 62px);
    }

    .empty-message {
        height: calc(100vh - 62px);
        width: 100%;
    }
}