:root {
    --brown: #B88855;
    --light-brown: #F6D9A8;
    --dark-brown: #82410D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

input,
button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.search-bar-container {
    background-color: var(--brown);
    margin-left: 80px;
}

.search-bar-container form {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar-container form input {
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    width: calc(100% - 65px)
}

.search-bar-container form button {
    background-color: var(--dark-brown);
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.users-container {
    overflow-y: auto;
    height: calc(100vh - 75px - 67.2px);
    /* margin-top: 10px; */
}

.users-container .search-results-label {
    background-color: var(--brown);
    padding: 10px;
    margin-left: 80px;
    text-align: center;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    padding: 1.5rem;
    cursor: pointer;
    /* margin-bottom: 8px; */
    margin-left: 80px;
    border: 1px solid #ddd;
    /* margin-right: 10px; */
    /* border-radius: 10px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    transition: 0.4s ease;
}

.container:hover {
    background-color: var(--light-brown);
}

.container .friend-circle-container {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--dark-brown);
}

.container .friend-circle-container .friend-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container h2 {
    color: #82410D;
    font-weight: 700;
    font-size: 30px;
    color: #82410D;
    padding-left: 1.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 66px);
}

.empty-message {
    height: calc(100vh - 75px - 67.2px);
    width: calc(100% - 80px);
    /* background-color: red; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.empty-message p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    background-color: rgba(128, 102, 74, 0.35);
    border-radius: 10px;
    padding: 15px 20px;
}

@media screen and (max-width: 550px) {
    .search-bar-container {
        margin-left: 0;
    }

    .container {
        margin-left: 0;
    }

    .users-container {
        height: calc(100vh - 62px - 67.2px);
    }

    .users-container .search-results-label {
        margin-left: 0;
    }

    .empty-message {
        height: calc(100vh - 62px - 67.2px);
        width: 100%;
    }
}